.row
    .col-sm-12
        h2 About Pros v Cons
        p
            | Shockingly, a search of the interwebs revealed that no simple pros/cons website existed.  Needing to analyze
            | a decision myself, I decided to write my own and put it out there so others could use it.
        p
            | This is still very immature and I'm going to add user authentication so that you can save/edit/manage
            | your own lists, but for now everything's just public, anyone can view anything, no one can delete anything,
            | and you can only edit something before you save it.
        p
            | If you have any comments, questions, or suggestions please send me an email to hello [at] prosvcons [dot] com.
        p
            | Thanks,
            br
            | Shaun