.row
    .col-sm-12
        h2 About Pros v Cons
        p
            | Wanting to analyze the pros and cons of a decision myself, I was surprised to find that no websites out there
            | existed that could help me.  So I decided to write my own tool and put it out there for others to use.  I hope you
            | find it helpful.

        h3 How to Use ProsVCons.com
        p
            h4 When not logged in...
            | All lists you create are Public
            ul
                li anyone can view if they know the URL
                li anyone can edit if they know the URL, and
                li no one can delete
        p
            h4 When logged in...
            | You mark a list as Private:
            ul
                li only you can view
                li only you can edit
                li only you can delete

            | You mark a list as Public:
            ul
                li anyone can view if they know the url
                li only you can edit
                li only you can delete

        p
            | If you have any comments, questions, or suggestions please send an email to
            a(href="mailto:hello@prosvcons.com")
                |  hello@prosvcons.com.
        p
            | Thanks,
            br
            | Shaun