.row
    .col-sm-12
        header.text-center
            .titleTextWrapper
                h1 {{title}}
.row
    .col-sm-12
        div.checkbox
            label
                input(type="checkbox", ng-model="showWeights")
                | Show Weights
            if isLoggedIn
                label
                    input(type="checkbox", ng-model="isPrivate" disabled)
                    | Private

.row.prosAndCons
    #pros.col-sm-5.panel
        table.table
            thead
                tr
                    th Pros
                    th.text-right(ng-show="showWeights") Weight
            tbody
                tr(ng-repeat="pro in pros")
                    th
                        | {{pro.description}}
                    th.text-right(ng-show="showWeights")
                        | {{pro.weight}}
            tfoot
                tr
                    th {{pros.length}} {{pros.length == 1 ? "Pro" : "Pros"}}
                    th.text-right(ng-show="showWeights") {{getProsWeightCount()}}
    #cons.col-sm-5.col-sm-offset-2.panel
        table.table
            thead
                tr
                    th Cons
                    th.text-right(ng-show="showWeights") Weight
            tbody
                tr(ng-repeat="con in cons")
                    th
                        | {{con.description}}
                    th.text-right(ng-show="showWeights")
                        | {{con.weight}}
            tfoot
                tr
                    th {{cons.length}} {{cons.length == 1 ? "Con" : "Cons"}}
                    th.text-right(ng-show="showWeights") {{getConsWeightCount()}}
.row
    .col-sm-12.text-center
        button.btn-lg.btn-primary(ng-click="go('/edit/' + _id)")
            | Edit