.row
    .col-sm-12
        header.text-center
            .titleTextWrapper
                h1 {{title}}
.row
    .col-sm-12
        div.checkbox
            label
                input(type="checkbox", ng-model="showWeights")
                | Show Weights
            if isLoggedIn
                label
                    input(type="checkbox", ng-model="isPrivate" disabled)
                    | Private

.row.prosAndCons
    #pros.col-sm-5.panel
        table.table
            thead
                tr
                    th {{pros.length}} {{pros.length == 1 ? "Pro" : "Pros"}}
                    th.text-right(ng-show="showWeights") Weight - {{getProsWeightCount()}}
            tbody
                tr(ng-repeat="pro in pros")
                    th
                        | {{pro.description}}
                    th.text-right(ng-show="showWeights")
                        | {{pro.weight}}

    #cons.col-sm-5.col-sm-offset-2.panel
        table.table
            thead
                tr
                    th {{cons.length}} {{cons.length == 1 ? "Con" : "Cons"}}
                    th.text-right(ng-show="showWeights") Weight - {{getConsWeightCount()}}
            tbody
                tr(ng-repeat="con in cons")
                    th
                        | {{con.description}}
                    th.text-right(ng-show="showWeights")
                        | {{con.weight}}

.row(ng-init="userID = '#{userID}'")
    .col-sm-12.text-center
        button.btn-lg.btn-primary(ng-click="go('/edit/' + _id)" ng-if="(userID == authorID) || (authorID == '__public__')")
            | Edit
        button.btn-lg.btn-warning(ng-if="(userID == authorID) && (authorID != '__public__')" data-toggle="modal" data-target="#confirmDeleteListModal")
            | Delete
confirm-delete-list-modal(listid="{{_id}}")