//
   Created by shaun.katona on 7/7/2014.

extend layout
block scripts
    script(type="text/javascript", src="scripts/index.js")
block content
    .row.prosAndCons
        #pros.col-md-5.panel
            h2 Pros
            .container
                    .row
                        .col-md-3
                            input#pro(type="text", placeholder="Add your pro...")
                        .col-md-1
                            input#proWeight(type="text", placeholder="#")
        #cons.col-md-5.col-md-offset-2.panel
            h2 Cons
            .container
                .row
                    .col-md-3
                        input#con(type="text", placeholder="Add your con...")
                    .col-md-1
                        input#conWeight(type="text", placeholder="#")