//
   Created by shaun.katona on 7/7/2014.

extend layout
block scripts
    script(type="text/javascript", src="scripts/app.js")
    script(type="text/javascript", src="scripts/index.js")
block content
    .row
        h1.text-center
            | Add a title...
            a(href="javascript: void(0);").glyphicon.glyphicon-pencil
        div.checkbox
            label
                input(type="checkbox" ng-model="AppCtrl.showWeights")
                | Show Weights
    .row.prosAndCons
        #pros.col-md-5.panel
            table.table
                thead
                    tr
                        th Pros
                        th(ng-show="AppCtrl.showWeights") Weight
                tbody
                    tr
                        th
                            input#pro(type="text", placeholder="Add your pro...", ng-model="AppCtrl.currentPro.description")
                        th(ng-show="AppCtrl.showWeights")
                            a(href="javascript: void(0);" ng-click="AppCtrl.incrementProWeight()").glyphicon.glyphicon-plus
                            span.proWeight {{AppCtrl.currentPro.weight}}
                            a(href="javascript: void(0);" ng-click="AppCtrl.decrementProWeight()").glyphicon.glyphicon-minus
                    tr(ng-repeat="pro in AppCtrl.pros")
                        th
                            {{pro.description}}
                            a(href="javascript: void(0);" ng-click="AppCtrl.removePro($index)")
                                span.glyph.glyphicon-trash
                        th(ng-show="AppCtrl.showWeights")
                            {{pro.weight}}
                tfoot
        #cons.col-md-5.col-md-offset-2.panel
            table.table
                thead
                    tr
                        th Cons
                        th(ng-show="AppCtrl.showWeights") Weight
                tbody
                    tr
                        th
                            input#con(type="text", placeholder="Add your con...", ng-model="AppCtrl.currentCon.description")
                        th(ng-show="AppCtrl.showWeights")
                            a(href="javascript: void(0);" ng-click="AppCtrl.incrementConWeight()").glyphicon.glyphicon-plus
                            span.conWeight {{AppCtrl.currentCon.weight}}
                            a(href="javascript: void(0);" ng-click="AppCtrl.decrementConWeight()").glyphicon.glyphicon-minus
                    tr(ng-repeat="con in AppCtrl.cons")
                        th
                            {{con.description}}
                            a(href="javascript: void(0);" ng-click="AppCtrl.removeCon($index)")
                                span.glyph.glyphicon-trash
                        th(ng-show="AppCtrl.showWeights")
                            {{con.weight}}
                tfoot