//
   Created by shaun.katona on 7/7/2014.

extend layout
block content
    .row.prosAndCons
        #pros.col-md-5
            h2 Pros
            input.pros(type="text", placeholder="Add your pro...")
        #cons.col-md-5.col-md-offset-2
            h2 Cons
            input.cons(type="text", placeholder="Add your con...")