extend layout
block scripts
    script(type="text/javascript", src="/scripts/app.js")
    script(type="text/javascript", src="/scripts/controllers/index.js")
    script(type="text/javascript", src="/scripts/controllers/view.js")
    script(type="text/javascript", src="/scripts/controllers/edit.js")
    script(type="text/javascript", src="/scripts/services/Data.js")
    script(type="text/javascript", src="/scripts/directives/loginModal.js")
block content
    <login-modal></login-modal>
    div(ng-view)
