//
   Created by shaun.katona on 7/7/2014.

doctype html5
html
    head
        title Pros v Cons
        //link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="stylesheets/bootstrap/bootstrap.min.css")
        link(rel="stylesheet", href="stylesheets/bootstrap/bootstrap-theme.min.css")
        link(rel="stylesheet", href="stylesheets/style.css")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    body(role="document", ng-app="ProsVCons")
        .navbar.navbar-inverse.navbar-fixed-top(role="navigation")
            .container
                .navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/") Pros v Cons
                .navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href="/") Home
                        li
                            a(href="/about") About
                        li
                            a(href="/contact") Contact
                    ul.nav.navbar-nav.navbar-right
                        li.dropdown
                            a.dropdown-toggle(data-toggle="dropdown", href="javascript: void(0);")
                                .glyphicon.glyphicon-th-list
                                | My Lists
                                span.badge 5
                                span.caret
                            ul.dropdown-menu(role="menu")
                                li.dropdown-header
                                    | Public
                                    span.badge 3
                                li
                                    a(href="javascript: void(0);") List #1
                                li
                                    a(href="javascript: void(0);") List #2
                                li
                                    a(href="javascript: void(0);") List #3
                                li.divider
                                li.dropdown-header
                                    | Private
                                    span.badge 2
                                    li
                                        a(href="javascript: void(0);") List #4
                                    li
                                        a(href="javascript: void(0);") List #5

        .container(role="main", ng-controller="AppController as AppCtrl")
            .jumbotron
                h1 Pros v Cons
                p A quick, easy tool to weigh your options!
            block content
            footer.footer
                | This site created by&nbsp;
                a(href="http://www.shaunkatona.com", target="_BLANK") Shaun Katona
        script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js")
        script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
        script(type="text/javascript", src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
        block scripts