body
  padding-top 70px

.dropdown
  & .badge
    margin-left 5px
    margin-right 5px

ul.nav .glyphicon
  font-size 17px
  margin-right 5px

#pros
  background-color #bfb

#cons
  background-color #fbb

h1 a
  color #ccc
  font-size 20px

h1 a:hover
  text-decoration none
  color black

.jumbotron
  .glyphicon
    font-size 100px
    margin-left 50px

    &.glyphicon-thumbs-up
      margin-left 100px

@media only screen and (min-width: 0px) and (max-width: 992px)
  .jumbotron
    .glyphicon
      display none

table
  thead
    th
      font-size 25px

.ng-dirty.ng-invalid
  border-color red

input[type="text"]
  box-shadow none
  outline none
  width 100%

.prosAndCons
  margin 0

  .panel
    border-radius 6px

  input
    font-style italic
    width 100%
    font-size 20px
    box-shadow none
    outline none
    
  .glyphicon-trash
    font-size 16px
    margin-left 10px

a.cancelTitle
  font-size 15px

  .glyphicon-remove
    padding-right 5px

a.glyphicon-pencil
  margin-left 5px

div.alert
  width 35%
  font-size 20px