body
  padding-top 70px

ul.nav .glyphicon
  font-size 17px
  margin-right 5px

#pros
  background-color #bfb

#cons
  background-color #fbb

h1 a
  color #ccc
  font-size 20px

h1 a:hover
  text-decoration none
  color black

.prosAndCons
  margin 0

  & .panel
    border-radius 6px

  & input
    font-style italic
    width 100%
    font-size 20px
    box-shadow none
    outline none

    &.ng-dirty.ng-invalid
      border-color red
    
    
  & .glyphicon-trash
    font-size 16px
    margin-left 10px