body
  padding-top 70px

  .jumbotron
    .glyphicon
      display none

  .dropdown
    .badge
      margin-left 5px
      margin-right 5px

  header
    h1
      display inline-block
    a
      color #ccc
      font-size 20px
    a:hover
      text-decoration none
      color black

  #pros
    background-color #F0FDF0
    border 1px solid green
    
    tfoot
      color green

  #cons
    background-color #FFF5F6
    border 1px solid lightpink

    tfoot
      color lightpink

  ul.nav
    .glyphicon
      margin-right 5px

  a.cancelTitle
    font-size 15px

    .glyphicon-remove
      padding-right 5px

  a.glyphicon-pencil
    margin-left 5px

  .input-lg
    font-size 30px

  .prosAndCons
    padding 0 15px

    .panel
      border-radius 6px

    .glyphicon-trash
      font-size 16px
      margin-top 3px

  .ng-dirty.ng-invalid
    border-color red

  p
    em
      strong
        color hotpink

  span.email
    color orange

  button+button
    margin-left 20px

  #settings
    button
      margin-top 10px
      margin-left 25px

  .checkbox
    label
      margin-right 50px

@media (min-width: 980px)
  body
    div.alert
      font-size 20px

    .jumbotron
      .glyphicon
        display inline-block
        font-size 136px
        margin-left 50px

        &.glyphicon-thumbs-up
          margin-left 100px

    header
      font-size 34px

      input.form-control
        font-size 34px

    table
      thead
        th
          font-size 25px

    tfoot
      font-size 25px