body {
  padding-top: 70px;
}
#pros {
  background-color: #bfb;
}
#cons {
  background-color: #fbb;
}
.prosAndCons .panel {
  border-radius: 6px;
}
.prosAndCons {
  margin: 0;
  font-size: 24px;
}
.prosAndCons input {
  border: none;
  border-bottom: 1px solid #999;
  font-style: italic;
  background: none;
  outline: none;
  box-shadow: none;
  width: 100%;
}
.prosAndCons .glyphicon {
  font-size: 16px;
  margin-left: 10px;
}
