body {
  padding-top: 70px;
}
body .jumbotron .glyphicon {
  display: none;
}
body .dropdown .badge {
  margin-left: 5px;
  margin-right: 5px;
}
body header h1 {
  display: inline-block;
}
body header a {
  color: #ccc;
  font-size: 20px;
}
body header a:hover {
  text-decoration: none;
  color: #000;
}
body #pros {
  background-color: #bfb;
}
body #cons {
  background-color: #fbb;
}
body ul.nav .glyphicon {
  margin-right: 5px;
}
body a.cancelTitle {
  font-size: 15px;
}
body a.cancelTitle .glyphicon-remove {
  padding-right: 5px;
}
body a.glyphicon-pencil {
  margin-left: 5px;
}
body .input-lg {
  font-size: 30px;
}
@media only screen and (min-width: 992px) {
  div.alert {
    font-size: 20px;
  }
  .jumbotron .glyphicon {
    display: inline-block;
  }
  header {
    font-size: 34px;
  }
  header input.form-control {
    font-size: 34px;
  }
  .jumbotron .glyphicon {
    font-size: 100px;
    margin-left: 50px;
  }
  .jumbotron .glyphicon.glyphicon-thumbs-up {
    margin-left: 100px;
  }
  table thead th {
    font-size: 25px;
  }
  .ng-dirty.ng-invalid {
    border-color: #f00;
  }
  input[type="text"] {
    box-shadow: none;
    outline: none;
    width: 100%;
  }
  .prosAndCons {
    margin: 0;
  }
  .prosAndCons .panel {
    border-radius: 6px;
  }
  .prosAndCons .glyphicon-trash {
    font-size: 16px;
    margin-left: 10px;
  }
}
