body {
  padding-top: 70px;
}
body .jumbotron .glyphicon {
  display: none;
}
body .dropdown .badge {
  margin-left: 5px;
  margin-right: 5px;
}
body header h1 {
  display: inline-block;
}
body header a {
  color: #ccc;
  font-size: 20px;
}
body header a:hover {
  text-decoration: none;
  color: #000;
}
body #pros {
  background-color: #f0fdf0;
  border: 1px solid #008000;
}
body #pros tfoot {
  color: #008000;
}
body #cons {
  background-color: #fff5f6;
  border: 1px solid #ffb6c1;
}
body #cons tfoot {
  color: #ffb6c1;
}
body ul.nav .glyphicon {
  margin-right: 5px;
}
body a.cancelTitle {
  font-size: 15px;
}
body a.cancelTitle .glyphicon-remove {
  padding-right: 5px;
}
body a.glyphicon-pencil {
  margin-left: 5px;
}
body .input-lg {
  font-size: 30px;
}
body .prosAndCons {
  padding: 0 15px;
}
body .prosAndCons .panel {
  border-radius: 6px;
}
body .prosAndCons .glyphicon-trash {
  font-size: 16px;
  margin-top: 3px;
}
body .ng-dirty.ng-invalid {
  border-color: #f00;
}
body p em strong {
  color: #ff69b4;
}
body span.email {
  color: #ffa500;
}
body button+button {
  margin-left: 20px;
}
@media (min-width: 980px) {
  body div.alert {
    font-size: 20px;
  }
  body .jumbotron .glyphicon {
    display: inline-block;
    font-size: 136px;
    margin-left: 50px;
  }
  body .jumbotron .glyphicon.glyphicon-thumbs-up {
    margin-left: 100px;
  }
  body header {
    font-size: 34px;
  }
  body header input.form-control {
    font-size: 34px;
  }
  body table thead th {
    font-size: 25px;
  }
  body tfoot {
    font-size: 25px;
  }
}
