body
  padding-top 70px

#pros
  background-color #bfb
  border-radius 6px

#cons
  background-color #fbb
  border-radius 6px

.prosAndCons
  margin 0
  font-size 24px

  & input
    border none
    border-bottom 1px solid green
    background none
    outline none
    box-shadow  none

  & input.cons
    border-bottom 1px solid red